html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=welcome
        p= p
        each val, index in array
            span= 'Article ' + (index+1) + ': ' + val
            br
            br
        a(href="./") Home