html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=welcome
        h4 Please choose from the following:
        br
        form(action="getStoryInfo" method="get")
            input(type="radio" id="newStory" value="newStory" name="methodType")
            label(for="newStory") Write a new news story
            br
            input(type="radio" id="deleteStory" value="deleteStory" name="methodType")
            label(for="deleteStory") Delete a news story
            br
            input(type="radio" id="search" value="search" name="methodType")
            label(for="search") Search
            br
            br
            input(class="button" type="submit" value="Submit")