html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        form(action="/login" method="post")
            label Enter your username:
            br
            input(type="text" name="username")
            br
            br
            label Enter your password:
            br
            input(type="text" name="password")
            br
            br
            label Select your Role:
            br
            input(type="radio" id="subscriber" value="subscriber" name="userType")
            label(for="sub") Subscriber
            br
            input(type="radio" id="reporter" value="reporter"  name="userType")
            label(for="reporter") Reporter
            br
            br
            input(class="login-button" type="submit" value="Login In")
        br
        a(href="./") Home