html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=welcome
        p= p
        a(href="./") Home
        br
        br
        a(href="./logout") Logout!