html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        p Invalid login, try again!
        a(href="./") Home
        br
        br
        a(href="./login") Login Here!