html
    head
        title Simple HTTP Server
        style
            include ./styles.css
    body
        h2=h2
        each val, index in array
            p #{val}
        a(href="./") Home
        br
        br
        a(href="./login") Login Here!